!!! 5
/[if IE 7 ]    <html lang="fr" class="no-js ie7 oldie" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
/[if IE 8 ]    <html lang="fr" class="no-js ie8 oldie" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
/[if IE 9 ]    <html lang="fr" class="no-js ie9" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
  
%head
  = render :partial => "head"
%body{:id => @body_id, :class => body_class}
  .wrapper
    .header-wrapper
      #header.header
        #skip-to-nav
          %ul.nobullets.small
            %li= link_to "Aller au plan du site", "/sitemap#content"
            %li= link_to "Aller au contenu", "#content"
            %li= link_to "Aller à la recherche", "#footer-search"
            %li= link_to "Aller à la navigation principale", "#navigation"
            
        = navigation

        %ul#header-tools.list-inline.small.list-separators
          %li= link_to "Qui sommes-nous", "/aboutus"
          %li= link_to "Presse", "/presse"
        
        %a#logo{:href => "/", :title => "Revenir à la page d’accueil"}
          -# = image_tag "logo.png", :width => "200", :height => "100", :alt => ""
          = image_tag "logo.png", :size => "200x100", :alt => ""
    
    .content-wrapper
        
      #content
        = yield
        .clear
  .footer.small
    #footer-navigation
      = sitemap
      %ul.list-inline.left.list-separators{:role => "contentinfo"}
        %li< 
          %b © 2011
        %li= link_to "Crédits", "/credits"
        %li= link_to "Plan du site", "/sitemap"
        %li= link_to "Nous contacter", "/contact"
          
  / Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<script src="/javascripts/jquery-1.5.2.min.js">\x3C/script>')
  = javascript_include_tag('fancybox/jquery.fancybox-1.3.4.pack')
    
  = javascript_include_tag('default')
  = content_for :page_scripts
  
= "</html>"